[Unit]
Description=Cacophony Project Python Thermal Recorder
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/classifier/bin/pi_classify
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
