[Unit]
Description=Cacophony Project Python Thermal Post process watcher
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/.venv/classifier/bin/postprocess_watcher
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
