[Unit]
Description=Cacophony Project Python Thermal Classifier
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/.venv/classifier/bin/serve_model
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
