{% set supported_device_ids = [
    "0bda:0811",
    "0bda:0821",
    "0bda:8822",
    "0bda:a811",
    "0bda:0820",
    "0bda:0823",
    "0411:0242",
    "0411:029b",
    "04bb:0953",
    "056e:4007",
    "056e:400e",
    "056e:400f",
    "0846:9052",
    "0e66:0023",
    "2001:3314",
    "2001:3318",
    "2019:ab32",
    "20f4:804b",
    "2357:011e",
    "2357:011f",
    "2357:0120",
    "3823:6249",
    "7392:a811",
    "7392:a812",
    "7392:a813",
    "7392:b611",
] %}

{% set packages = ["dkms", "git", "hostapd"] %}
{% if salt['grains.get']('os_family') == 'Debian' %}
  {% set packages = packages + ["build-essential", "bc", "iw"] %}
  {% set os_name = salt['grains.get']('os') %}
  {% set os_fullname = salt['grains.get']('osfullname') %}
  {% if os_name in ['Raspbian', 'Raspberry Pi OS'] or os_fullname.startswith('Raspberry Pi OS') %}
    {% set packages = packages + ["raspberrypi-kernel-headers"] %}
  {% else %}
    {% set packages = packages + ["linux-headers-" ~ salt['grains.get']('kernelrelease')] %}
  {% endif %}
{% endif %}

{% set branch = salt['pillar.get']('rtl8821au:branch', 'main') %}
{% set source_dir = salt['pillar.get']('rtl8821au:source_dir', '/usr/local/src/8821au-20210708') %}
{% set auto_update = salt['pillar.get']('rtl8821au:auto_update', False) %}

{% set rtl8821au = {
  'device_ids': salt['pillar.get']('rtl8821au:device_ids', supported_device_ids),
  'packages': salt['pillar.get']('rtl8821au:packages', packages),
  'repo': salt['pillar.get']('rtl8821au:repo', 'https://github.com/morrownr/8821au-20210708.git'),
  'branch': branch,
  'source_dir': source_dir,
  'auto_update': auto_update,
  'install_args': salt['pillar.get']('rtl8821au:install_args', ['NoPrompt']),
} %}
